@model IEnumerable<BeFit.DTOs.TrainingSessionDTO>

@{
    ViewData["Title"] = "Moje sesje treningowe";
}

<h1 class="title">Moje sesje treningowe</h1>

<p class="has-text-right">
    <a asp-action="Create" class="button is-link">Dodaj nową sesję treningową</a>
</p>
<table class="table mx-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="button is-primary">Szczegóły</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button is-warning">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="button is-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

