@model IEnumerable<BeFit.DTOs.ExerciseTypeDTO>

@{
    ViewData["Title"] = "Typy ćwiczeń";
}

<h1 class="title">Typy ćwiczeń</h1>

@if (User.IsInRole("Admin"))
{
    <p class="has-text-right">
        <a asp-action="Create" class="button is-link">Dodaj nowy typ ćwiczenia</a>
    </p>
}
<table class="table mx-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="button is-primary">Szczegóły</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="button is-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="button is-danger">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

